@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap')
@import 'colors'
@import "mixins"

*
  box-sizing: border-box

body
  margin: 0
  padding: 0

h1,h2,h3,h4
  margin: 0

h1
  font-size: 104px
  font-weight: 900
  line-height: 100%
  @include phone
    font-size: 60px
    line-height: 64px

h2
  font-size: 48px
  font-weight: 600
  line-height: 150%
  @include phone
    font-size: 32px
    line-height: 36px

h3
  font-size: 32px
  font-weight: 400
  line-height: 150%
  @include phone
    font-size: 24px

h4
  font-size: 24px
  font-weight: 600
  line-height: 32px
  margin-bottom: 0

.text-normal
  font-size: 20px
  font-weight: 500
  line-height: 160%

.text-small, .text-small-bold
  font-size: 18px
  font-weight: 400
  line-height: 28px
  @include phone
    font-size: 14px
    line-height: 24px

.text-small-bold
  font-weight: 700

.link
  @extend .text-small-bold
  text-decoration: none
  color: $green-light
  cursor: pointer

.link:hover
  color: $white

.container
  max-width: 1760px
  height: 100%
  margin: 0 auto
  padding: 0 80px
  @include tablet
    padding: 0 40px
  @include phone
    padding: 0 20px

  &.p-vertical
    padding: 40px 80px
    @include tablet
      padding: 40px
    @include phone
      padding: 20px


